.learn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: #000000; /* Set background to black */
    padding: 0rem;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 900px;
    margin-top: 5rem;
    cursor: pointer;
  }
  
  .glass-card {
    background: rgba(255, 255, 255, 0.7); /* #F6F6F6 with opacity for glass effect */
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    
    border: 1.5px solid lab(72 -15.6 -43.39);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 120px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #FFFFFF;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .glass-card:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 12px 40px 0 lab(72 -15.6 -43.39);
    border-color: lab(72 -15.6 -43.39);
  }
  
  .title {
    font-size: xx-large;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }
  