/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Firefox */
* {
  scrollbar-width: none; /* hides scrollbar */
}

/* Hide scrollbar but keep scroll functional */
*::-webkit-scrollbar {
  display: none;
}

  